body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
     background-color: gold;
     
}
 #Show{
     float: right;
 }

 h3{
     color: wheat;
     background-color: coral;   
 }

 canvas{
animation-name: animate;
animation-duration: 5s;
animation-iteration-count: infinite;
 }

@keyframes animate{
    from{box-shadow:1px 1px 39px coral}
    to{box-shadow:1px 1px 39px rgb(196, 163, 163)}
}